/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---------------------------------
          Custom Styles
------------------------------------ */
html {
  font-family: 'Montserrat';
  font-size: 14px;
  box-sizing: border-box;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 9px 0;
}

p {
  margin: 9px 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.375rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

body {
  line-height: 1.5;
}

p {
  font-size: 18px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  line-height: inherit;
}


.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*mobile styles*/
body {
  background-color: #f7f7ff;
}

.site-logo {
  width: 120px;
}

/* to make the whole content of whole in center*/
.container {
  max-width: 60%;
  margin: 0 auto;
}

main {
  padding-bottom: 80px;
  padding-top: 30px;
}

.resgisteration-form {
  background-color: white;
  border-radius: 1em;
  padding: 18px 30px;
  box-shadow: 5px 6px 17px 0px rgba(0, 0, 0, 0.50)
}

.registration-button {
  background-color: #57eeab;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  text-align: center;
  margin: 9px 0;
}

.small-text {
  font-size: smaller;
  margin: 0 9px;
}

.small-anchor {
  color: #ff8480;
  text-decoration: none;
}

.input-box {
  width: 100%;
  margin: 5px auto;
  background-color: #f7f7ff;
  border: none;
  border-radius: 0.5em;
  color: #9b9b9b;
  padding: 1em;
}

footer {
  background-color: #fffd8c;
  padding: 1em;
}

.footer-form .input-box {
  margin: 0;
}

/* to make both input box and calculate button in different line  */
.footer-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 9px;
}

.calculate-button {
  grid-area: 2/1/3/3;
  background-color: #ff8480;
  color: #f7f7ff;
  border: none;
  border-radius: 0.5em;
  font-weight: bold;
  font-size: 18px;
  height: 45px;
}

/* to align the social media logos horizontaly */
.social-media-logos {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin: 9px auto;
}

/* to hide the text while on mobile view */
.hide-text {
  display: none;
}

/* styles for tablet */
@media screen and (min-width:375px) and (max-width: 768px) {

  /* to make the whole content of whole in center*/
  .container {
    max-width: 60%;
    margin: 0 auto;
  }

  .footer-form {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 9px;
  }

  .calculate-button {
    grid-area: auto;
  }
}

/* styles for desktop */
@media screen and (min-width:769px) {

  /* to center the whole content of website */
  .container {
    max-width: 94%;
    margin: 0 auto;
  }

  /* to align the three section of main horizontaly */
  main {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
  }

  .resgisteration-form {
    grid-row: auto;
  }

  .site-text {
    grid-column: 1/2;
    grid-row: none;
  }

  .scooter {
    grid-column: 1/4;
    grid-row: none;
    margin: 0 auto;
    width: 50%;
  }

  .resgisteration-form {
    grid-column: 3/4;
    grid-row: none;
  }

  /* to align the social media logos align to right */
  .social-media-logos {
    float: right;
  }

  /* to make both input box and button in one line  */
  .footer-form {
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: auto;
    grid-gap: 9px;
  }

  .calculate-button {
    grid-area: auto;
  }

  .web-footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .part2 {
    margin: auto 0;
  }

  footer p {
    font-size: 14px;
  }

  /* to unhide the text in registration form */
  .hide-text {
    display: contents;
  }

}